<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Accueil - Jardins de Cocagne</title>
</head>
<body>
    <h1>{{ message }}</h1>

    <p><a href="{{ path('depot_list') }}">Voir la liste des dépôts</a></p>
    <li><a href="{{ path('tournee_index') }}">Voir les tournées</a></li>
</body>
</html>